# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Misc
*~
*#
.DS_STORE
nbproject
.idea
.node_history
dump.rdb
serverless

package-lock.json
